body{
    margin: 0;
    padding: 0;
}

.container{
    overflow: hidden;
    scroll-snap-type: y mandatory;
}

.sections{
    scroll-snap-align: center;
}

.navbar{
    z-index:2;
    width:100%;
    height: 8vh;
    position:fixed;
    /* background: rgba(0,0,0,0.3); */
    float: right;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a{
    display: block;
    float: right;
    color: whitesmoke;
    font-family: 'Quattrocento Sans', sans-serif;
    text-decoration: none;
    margin: 1rem;
}

/* Section - 2 : BIKING */

h1 {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#biking{
    background-image: url("1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    background-attachment: fixed;
    animation: size-in 1s;
}

@keyframes size-in{
    0%{
        transform: scale(1.25);
    }
    100%{
        transform: scale(1);
    }
}

#biking #side{
    position:absolute;
    color: white;
    background-color: rgba(0,0,0,0.8);
    width: 19rem;
    height: 100vh;
    padding: 0 30px 0px;
    margin: 0 20px 0 20px;
    animation: setin 1s;
}

@keyframes setin{
    0% {  height:0vh;    }
    100%   {  height:100vh;}
}

#biking #side h4{
    font-family: 'Quattrocento Sans', sans-serif;
    margin-left: 30px;
}

#biking #side h1{
    color: #dbdbdb;
    font-weight: 1;
    margin-top: 2rem;
    margin-left:30px;
    margin-bottom:0;
    font-family: 'Abril Fatface', sans-serif;
    font-size: 100px;
    line-height: 5rem;
}

.findMore{
    font-family: 'Quattrocento Sans', sans-serif;
    background: #e8000b;
    font-size: 1rem;
    border: 1px solid white;
    margin-left: 30px;
    height: 3rem;
    width: 9rem;
    text-align: center;
    color:white;
}

.findMore:focus{
    outline:none;
}

.findMore i{
    font-size: 1rem;
    color: white;
}

.findMore:hover{
    cursor: pointer;
}

#biking #side p{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin-top: 2rem;
    margin-left: 30px;
}

/* Section - 2 : SWIMMING */

#swimming{
    position: relative;
    background-image: url("2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

#swimming #side{
    position:absolute;
    color: #1a1a1a;
    background-color: rgba(255,255,255,0.7);
    width: 19rem;
    height: 100vh;
    padding: 0 30px 0;
    margin: 0 20px 0 20px;
    animation: setin 1s;
}

#swimming #side h4{
    font-family: 'Quattrocento Sans', sans-serif;
    margin-left: 30px;
    font-weight: 800;
}

#swimming #side h1{
    color:black;
    font-weight: 1;
    margin-top: 2rem;
    margin-left:30px;
    margin-bottom:0;
    font-family: 'Abril Fatface', cursive;
    font-size: 80px;
    line-height: 5rem;
}

#swimming #side p{
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-left: 30px;
}

#swimming .findMore{
    font-family: 'Quattrocento Sans', sans-serif;
    background: black;
    font-size: 1rem;
    border: 1px solid white;
    margin-left: 30px;
    height: 3rem;
    width: 9rem;
    text-align: center;
    color:white;
}

/* Section - 3 : SKIING */

#skiing{
    position: relative;
    background-attachment: fixed;
    background-image: url("3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    scroll-snap-align: center;
    height: 100vh;
    width: 100%;
}

#skiing #side{
    position:absolute;
    color: white;
    background-color: rgba(0,0,0,0.7);
    width: 19rem;
    height: 100vh;
    padding: 0 30px 0px;
    margin: 0 20px 0 20px;
    animation: setin 1s;
}

#skiing #side h1{
    font-weight: 1;
    margin-top: 2rem;
    margin-left: 30px;
    font-family: 'Abril Fatface', cursive;
    font-size: 100px;
    line-height: 4rem;
    margin-left:2rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

#skiing #side h4{
    font-family: 'Quattrocento Sans', sans-serif;
    margin-left: 30px;
    margin-top: 2rem;
    margin-bottom: 0.1rem;
}

#skiing #side p{
    margin-left: 2rem;
    margin-top: 2rem;
    line-height: 1.5rem;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 0.8rem;
}

#skiing .findMore{
    font-family: 'Quattrocento Sans', sans-serif;
    background: #dbdd5c;
    font-size: 1rem;
    border: 1px solid white;
    margin-left: 30px;
    height: 3rem;
    width: 9rem;
    text-align: center;
    color:white;
}

/* Footer */
#contact{
    padding-top: 1rem;
    font-family: 'Quattrocento Sans', sans-serif;
    background: black;
    height: 110vh;
    scroll-snap-align: center;
}

#contact{
    color: white;
    text-align: center;
    font-size: 3rem;
    width: 100vw;
    height: 100vh;
}

form{
    font-family: 'Quattrocento Sans', sans-serif;
}

input{
    padding-left: 0.5rem;
    display: block;
    margin: 1.25rem auto;
    width: 80%;
    height: 2rem;
    border-radius: 0.2rem;
}
textarea{
    display: block;
    margin: 0 auto;
    font-family: 'Quattrocento Sans', sans-serif;
    width: 80%;
    font-size: 0.9rem;
    border-radius: 0.2rem;
    padding: 0.5rem;
}

#contact form .findMore{
    display:block;
    color: black;
    background: white;
    margin: 2rem auto;
    width: 81%; 
    border-radius: 0.2rem;
}

#gitHub{
    color: white;
    font-size: 5rem;
    text-decoration:none;
    display: block;
    text-align:center;
}

#copyright{
    color:gray;
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
}

/* Competitions */
#B1{
    position: absolute;
    margin-top: 7rem;
    margin-left: 40rem;
    animation: fillLeft 2s;
}

#B2{
    position: absolute;
    margin-top: 25rem;
    margin-left: 30rem;
    animation: fillLeft 2s;
}

#B3{
    position: absolute;
    margin-top: 14rem;
    margin-left: 60rem;
    animation: fillLeft 2s;
}
/* 
@keyframes fillLeft{
    from{
        transform:scaleX(0.1);
    }
    to{
        width: scaleX(1);
    }
} */

.comp a{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 0.9rem;
    margin-top: 2rem;
    margin: auto;
    z-index:4;
    text-decoration: none;
    color: white;
    text-align: center;
}
.comp a:hover{
    cursor: pointer;
}

.white{
    color: white;
    background: black;
    padding: 0.5rem;
}

.red{
    background: darkred;
    padding: 0.5rem;
}

#S1{
    position: absolute;
    margin-top: 7rem;
    margin-left: 30rem;
}

#S2{
    position: absolute;
    margin-top: 20rem;
    margin-left: 65rem;
}

#S3{
    position: absolute;
    margin-top: 28rem;
    margin-left: 40rem;
}

.turq{
    background: turquoise;
    padding: 0.5rem;
}

.yellow{
    background:#dbdd5c;
    padding:0.5rem;
}

#Sk1{
    position: absolute;
    margin-top: 8rem;
    margin-left: 65rem;
}

#Sk2{
    position: absolute;
    margin-top: 17rem;
    margin-left: 35rem;
}

#Sk3{
    position: absolute;
    margin-top: 32rem;
    margin-left: 50rem;
}
